@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
}

.container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  background-color: black;
  background-image: url('/img-pag-inicial/imagem-principal.jpg');
  background-position: center;
  background-size: cover;
}

aside{
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  left: 45rem;
}

aside .container-link{
  background:  rgb(100, 32, 32);
  border-radius: 2rem;
  border: none;
  padding: 1rem;
  border-radius: 1.3rem;
  width: 17rem;
  margin: auto;
}

.container-link .link-pag{
  text-decoration: none;
}

.container-link .texto-link-pag{
  color:white;
  font-size: 1.5rem;
}

.container-link .texto-link-pag:hover{
  color: rgb(197, 123, 123);
}

.logo{
  width: 15rem;
}

.container-logo-texto{
  background-color: rgb(100, 32, 32);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  margin: auto;
  padding: 2rem;
}

.container-responsivo{
  display:none;
}

ul{
  line-height: 2rem;
  list-style-type: none;
}

i, .texto-item{
  color: white;
  font-size: 1.2rem;
}

@media(max-width: 1200px){
  .container{
    grid-template-columns: 1fr 2fr;
  }

  aside{
    left: 40rem;
  }

  .logo{
    width: 15rem;
  }

  .container-logo-texto{
    padding: 1rem;
  }

  ul{
    line-height: 2rem;
  }
  
  i, .texto-item{
    font-size: 1rem;
  }
}

@media(max-width: 1000px){ 
  aside{
    left: 35rem;
  }

  .logo{
    width: 13rem;
  }

  .container-logo-texto{
    padding: .7rem;
  }

  ul{
    line-height: 1.7rem;
  }
}

@media(max-width: 900px){
  aside{
    left: 30rem;
  }

  .logo{
    width: 13rem;
  }

  .container-logo-texto{
    padding: .7rem;
  }

  ul{
    line-height: 1.7rem;
  }
}

@media(max-width: 790px){
  aside{
    left: 26rem;
  }
}

@media(max-width: 730px){
  aside{
    left: 23rem;
  }
}

@media(max-width: 680px){
  aside{
    left: 21rem;
  }
}

@media(max-width: 640px){
  aside{
    left: 18rem;
  }
}

@media(max-width: 600px){
  .container{
    background-image: url('/img-pag-inicial/imagem-principal-responsiva.jpg');
    background-size: cover;
    grid-template-columns: none;
  } 

  aside{
    left:0;
  }

  .texto-item{
    text-shadow: 3px 1px 2px black;
  }

  .container-logo-texto{
    background-color: rgba(100, 32, 32, 0.596);
    width: 80vw;
  }
}

@media(max-width: 320px){
    ul{
      line-height: 1.2rem;
    }

    i, .texto-item{
      font-size: 1rem;
    } 
}
